<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ block "title" . }} {{- T "home" -}} {{ end }} | {{ .Site.Title }}</title>

    {{ partial "head.html" . }}
    {{ block "css" . }} {{ end }}
    <style type="text/css">
      #dream-save-post-as-img img {
        display: block;
        margin: auto;
      }
      svg {
       max-width: 100%;
       display: block;
       margin: auto;
      }
      th:empty {
      	display: none;
      }
    </style>
  </head>

  {{ if .Site.Params.background }}
  <body style="background: {{ .Site.Params.background }};">
  {{ else if .Site.Params.backgroundImage }}
  <body style="background-image: url({{ .Site.Params.backgroundImage }});">
  {{ else }}
  <body>
  {{ end }}
    {{ partial "nav.html" . }}
    <div class="flip-container">
      <div class="flipper">
        <section class="front">
          {{ block "main" . }} {{ end }}
        </section>
        <section class="back">
          {{ partial "back.html" . }}
        </section>
      </div>
    </div>

    {{ partial "footer.html" . }}
    {{ block "js" . }} {{ end }}

    {{ if .Site.Params.enableSearch }}
      {{ partial "search.html" . }}
    {{ end }}

    {{ if not .Site.IsServer }}
    {{ if .Site.GoogleAnalytics }}
      {{ template "_internal/google_analytics_async.html" . }}
    {{ end }}
    {{ end }}
  </body>
</html>
